body{
    padding: 0;
    margin: 0;
    background-image: url(gambar/W.png);
    background-size: cover;
    font-family:sans-serif;
}

.container {
    height: 550px;
    width: 300px;
    top: 50%;
    left: 50%;
    background-color: rgb(0, 0, 0, 0.7);
    position: absolute;
    padding: 10px;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 20px;
}

img{
    position: absolute;
    width: 80px;
    height: 80px;
    top: -40px;
    left: calc(50% - 40px);
}

h1 {
    color: white;
    padding-top: 35px;
    font-size: 20px;
}

label {
    color: white;
    margin-top: 10px;
    margin-bottom: -10px;
    margin-left: 50px;
    float: left;
}

#input {
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    padding: 11px;
    margin: 15px;
    outline: none;
    color: white;
}

#submit {
    padding: 10px;
    margin: 10px;
    width: 200px;
    border-radius: 20px;
    border: none;
}

#submit:hover {
    color: white;
    background-color: rgb(0, 191, 255);
    cursor: pointer;
}

a {
    display: block;
    font-size: 12px;
    color: white;
    text-decoration: none;
    text-align: center;
}

a:hover {
    color: rgb(0, 191, 255);
}